 /* .HeaderImage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
  } */
   
  /* .main {
    padding-top: 30px;
    overflow: auto;
    
  } */

  .index {
    color: #000000;
    padding: 1em;
    border-top: #aaa solid 1px;
    border-bottom: #aaa solid 1px;
  }
  
  .index {
    line-height: 1.5;
    padding: 0.5em;
  }


  .chapter {
    color: #000000;
    padding: 1em;
    border-bottom: #aaa solid 1px;
  }

  .chapter {
    line-height: 1.5;
    padding: 0.5em;
  }

   
  /* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: darkgrey;
  } */